<!DOCTYPE html>

<html lang="pt-BR">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Histórico de Embarques</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<script>

function atualizarDataHora(){

    const agora = new Date();

    document.getElementById("hora").innerHTML =
        agora.toLocaleTimeString('pt-BR');

    document.getElementById("data").innerHTML =
        agora.toLocaleDateString('pt-BR');

}

setInterval(atualizarDataHora,1000);

function pesquisarTabela(){

    let filtro =
    document.getElementById("pesquisa").value.toUpperCase();

    let linhas =
    document.querySelectorAll("#tabela tbody tr");

    linhas.forEach(function(linha){

        let texto =
        linha.innerText.toUpperCase();

        linha.style.display =
        texto.includes(filtro) ? "" : "none";

    });

}

</script>

</head>

<body onload="atualizarDataHora()">

<header>

<div class="hora">
<span id="hora"></span>
</div>

<div class="titulo">

<img
src="{{ url_for('static', filename='logo.png') }}"
alt="Axios"
class="logo-header">

<div>
HISTÓRICO DE EMBARQUES
</div>

</div>

<div class="data">
<span id="data"></span>
</div>

</header>

<div class="container">

<div class="card">

<input
type="text"
id="pesquisa"
class="pesquisa"
placeholder="Pesquisar histórico..."
onkeyup="pesquisarTabela()">

<div class="menu">

<a href="/todos_embarques" class="btn">
Embarques Ativos
</a>

{% if perfil == "admin" %}

<a href="/" class="btn">
Novo Embarque
</a>

{% endif %}

<a href="/logout" class="btn">
Sair
</a>

</div>

<br>

<div class="tabela">

<table id="tabela">

<thead>

<tr>

<th>DATA FINALIZAÇÃO</th>
<th>ETD</th>
<th>ETA</th>
<th>NAVIO</th>
<th>CIA MARÍTIMA</th>
<th>REFERÊNCIA</th>
<th>EXPORTADOR</th>
<th>FATURA</th>
<th>PRODUTO</th>
<th>PORTO</th>
<th>CONTAINER</th>
<th>STATUS</th>
{% if session.get("usuario") == "Axios" %}
<th>EXCLUIR</th>
{% endif %}
</tr>

</thead>

<tbody>

{% for embarque in embarques %}

<tr>

<td>{{ embarque["data_finalizacao"] }}</td>

<td>{{ embarque["etd"] }}</td>

<td>{{ embarque["eta"] }}</td>

<td>{{ embarque["navio"] }}</td>
    
 <td>{{ embarque["cia_maritima"] }}</td>

<td>{{ embarque["ref"] }}</td>

<td>{{ embarque["exportador"] }}</td>

<td>{{ embarque["fatura"] }}</td>

<td>{{ embarque["produto"] }}</td>

<td>{{ embarque["porto"] }}</td>

<td>{{ embarque["container"] }}</td>

<td>{{ embarque["status"] }}</td>
    {% if session.get("usuario") == "Axios" %}
<td>
    <a href="{{ url_for('excluir_historico', id=embarque['id']) }}"
       onclick="return confirm('Deseja realmente excluir este embarque?')">
        🗑️
    </a>
</td>
{% endif %}

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

</body>

</html>
